.hero-frame {
  width: 100%;
  height: 100%;
  min-height: 900px;
  background: var(--clr-black);
  color: var(--clr-white);
  display: flex;
  align-items: flex-end;


  .hero {
    margin-inline: auto;
    margin-bottom: 5%;
    max-width: 1140px;
    height: 100%;
    background: var(--clr-black);
    color: var(--clr-white);



    .hero-heading {
      width: 100%;
      margin-bottom: 60px;

      h1 {
        color: var(--clr-white-1);
        line-height: 120%;

        .h1-thin {
          font-weight: var(--fw-100);
        }
      }
    }

    .hero-desc {
      width: 42%;
      margin-bottom: 30px;
      
      p {
        background: var(--clr-black);
        color: var(--clr-white-3);
        margin-bottom: 30px;
      }
    }

    .row {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .wwd-btn {
        width: max-content;
        padding: var(--size-2) var(--size-2);
        padding-left: calc(var(--size-3) + 1.5rem);
        background: var(--clr-action);
        border-radius: 5rem;
        text-align: center;
        margin-right: 30px;

        .action-btn {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: var(--size-3);
          transition: all 0.3s ease-in-out;

          svg {
            background: var(--clr-black);
            width: 36px;
            height: 36px;
            padding: 7.5px;
            border-radius: 50%;
            transition: all 0.3s ease-in-out;
          }
        }:hover{
          transform: scale(1.02);
          position: relative;
          transition: all 0.3s ease-in-out;

          svg{
            transform: scale(1.2);
            transition: all 0.3s ease-in-out;
          }
        }
      }

      .works-btn {
        width: max-content;
        padding: var(--size-2) var(--size-3);
        background: transparent;
        border-radius: 5rem;
        text-align: center;
        margin-right: 30px;

        .action-btn {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          color: var(--clr-white);
          gap: var(--size-2);
          transition: all 0.3s ease-in-out;

          svg {
            background: var(--clr-white-4);
            width: 36px;
            height: 36px;
            padding: 7.5px;
            border-radius: 50%;
            transition: all 0.3s ease-in-out;
          }
        }:hover{
          position: relative;

          svg{
            transform: scale(1.2);
            transition: all 0.3s ease-in-out;
          }
        }
      }
    }
  }
}

@media (max-width : 1440px) {
  .hero-frame {
    width: 100%;
    height: 100%;
    min-height: 700px;
    background: var(--clr-black);
    color: var(--clr-white);
    display: flex;
    align-items: flex-end;
  
  
    .hero {
      margin-inline: auto;
      margin-bottom: 5%;
      padding: 5%;
      max-width: 1144px;
      height: 100%;
      background: var(--clr-black);
      color: var(--clr-white);
  
  
  
      .hero-heading {
        width: 90%;
        margin-bottom: 60px;
  
        h1 {
          color: var(--clr-white-1);
          font-size: var(--fs-mll);
          line-height: 120%;
  
          .h1-thin {
            font-weight: var(--fw-100);
          }
        }
      }
  
      .hero-desc {
        width: 56%;
        margin-bottom: 30px;
        
        p {
          background: var(--clr-black);
          color: var(--clr-white-3);
          margin-bottom: 30px;
        }
      }
  
      .row {
        display: flex;
        justify-content: flex-start;
        align-items: center;
  
        .wwd-btn {
          width: max-content;
          padding: var(--size-1) var(--size-1);
          padding-left: calc(var(--size-3) + 1.5rem);
          background: var(--clr-action);
          border-radius: 5rem;
          text-align: center;
          margin-right: 30px;
  
          .action-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: var(--size-3);
            transition: all 0.3s ease-in-out;
  
            svg {
              background: var(--clr-black);
              width: 36px;
              height: 36px;
              padding: 7.5px;
              border-radius: 50%;
              transition: all 0.3s ease-in-out;
            }
          }:hover{
            transform: scale(1.02);
            position: relative;
            transition: all 0.3s ease-in-out;
  
            svg{
              transform: scale(1.2);
              transition: all 0.3s ease-in-out;
            }
          }
        }
  
        .works-btn {
          width: max-content;
          padding: var(--size-1) var(--size-2);
          background: transparent;
          border-radius: 5rem;
          text-align: center;
          margin-right: 30px;
  
          .action-btn {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            color: var(--clr-white);
            gap: var(--size-2);
            transition: all 0.3s ease-in-out;
  
            svg {
              background: var(--clr-white-4);
              width: 36px;
              height: 36px;
              padding: 7.5px;
              border-radius: 50%;
              transition: all 0.3s ease-in-out;
            }
          }:hover{
            position: relative;
  
            svg{
              transform: scale(1.2);
              transition: all 0.3s ease-in-out;
            }
          }
        }
      }
    }
  }
}

@media (max-width : 1144px) {
  .hero-frame {
    width: 100%;
    height: 100%;
    min-height: 600px;
    background: var(--clr-black);
    color: var(--clr-white);
    display: flex;
    align-items: flex-end;
  
  
    .hero {
      margin-inline: auto;
      margin-bottom: 5%;
      padding: 5%;
      max-width: 864px;
      height: 100%;
      background: var(--clr-black);
      color: var(--clr-white);
  
  
  
      .hero-heading {
        width: 90%;
        margin-bottom: 60px;
  
        h1 {
          color: var(--clr-white-1);
          font-size: var(--fs-mll);
          line-height: 120%;

          .break{
            display: none;
          }
  
          .h1-thin {
            font-weight: var(--fw-100);
          }
        }
      }
  
      .hero-desc {
        width: 64%;
        margin-bottom: 30px;
        
        p {
          background: var(--clr-black);
          color: var(--clr-white-3);
          margin-bottom: 30px;
        }
      }
  
      .row {
        display: flex;
        justify-content: flex-start;
        align-items: center;
  
        .wwd-btn {
          width: max-content;
          padding: var(--size-1) var(--size-1);
          padding-left: calc(var(--size-3) + 1.5rem);
          background: var(--clr-action);
          border-radius: 5rem;
          text-align: center;
          margin-right: 30px;
  
          .action-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: var(--size-3);
            transition: all 0.3s ease-in-out;
  
            svg {
              background: var(--clr-black);
              width: 36px;
              height: 36px;
              padding: 7.5px;
              border-radius: 50%;
              transition: all 0.3s ease-in-out;
            }
          }:hover{
            transform: scale(1.02);
            position: relative;
            transition: all 0.3s ease-in-out;
  
            svg{
              transform: scale(1.2);
              transition: all 0.3s ease-in-out;
            }
          }
        }
  
        .works-btn {
          width: max-content;
          padding: var(--size-1) var(--size-2);
          background: transparent;
          border-radius: 5rem;
          text-align: center;
          margin-right: 30px;
  
          .action-btn {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            color: var(--clr-white);
            gap: var(--size-2);
            transition: all 0.3s ease-in-out;
  
            svg {
              background: var(--clr-white-4);
              width: 36px;
              height: 36px;
              padding: 7.5px;
              border-radius: 50%;
              transition: all 0.3s ease-in-out;
            }
          }:hover{
            position: relative;
  
            svg{
              transform: scale(1.2);
              transition: all 0.3s ease-in-out;
            }
          }
        }
      }
    }
  }
}

@media (max-width : 864px) {
  .hero-frame {
    width: 100%;
    height: 100%;
    min-height: 500px;
    background: var(--clr-black);
    color: var(--clr-white);
    display: flex;
    align-items: flex-end;
  
  
    .hero {
      margin-inline: auto;
      margin-bottom: 5%;
      padding: 5%;
      max-width: 644px;
      height: 100%;
      background: var(--clr-black);
      color: var(--clr-white);
  
  
  
      .hero-heading {
        width: 90%;
        margin-bottom: 60px;
  
        h1 {
          color: var(--clr-white-1);
          font-size: var(--fs-ml);
          line-height: 120%;

          .break{
            display: none;
          }
  
          .h1-thin {
            font-weight: var(--fw-100);
          }
        }
      }
  
      .hero-desc {
        width: 72%;
        margin-bottom: 30px;
        
        p {
          background: var(--clr-black);
          color: var(--clr-white-3);
          margin-bottom: 30px;
        }
      }
  
      .row {
        display: flex;
        justify-content: flex-start;
        align-items: center;
  
        .wwd-btn {
          width: max-content;
          padding: var(--size-1) var(--size-1);
          padding-left: calc(var(--size-3) + 1.5rem);
          background: var(--clr-action);
          border-radius: 5rem;
          text-align: center;
          margin-right: 30px;
  
          .action-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: var(--size-3);
            transition: all 0.3s ease-in-out;
  
            svg {
              background: var(--clr-black);
              width: 36px;
              height: 36px;
              padding: 7.5px;
              border-radius: 50%;
              transition: all 0.3s ease-in-out;
            }
          }:hover{
            transform: scale(1.02);
            position: relative;
            transition: all 0.3s ease-in-out;
  
            svg{
              transform: scale(1.2);
              transition: all 0.3s ease-in-out;
            }
          }
        }
  
        .works-btn {
          width: max-content;
          padding: var(--size-1) var(--size-2);
          background: transparent;
          border-radius: 5rem;
          text-align: center;
          margin-right: 30px;
  
          .action-btn {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            color: var(--clr-white);
            gap: var(--size-2);
            transition: all 0.3s ease-in-out;
  
            svg {
              background: var(--clr-white-4);
              width: 36px;
              height: 36px;
              padding: 7.5px;
              border-radius: 50%;
              transition: all 0.3s ease-in-out;
            }
          }:hover{
            position: relative;
  
            svg{
              transform: scale(1.2);
              transition: all 0.3s ease-in-out;
            }
          }
        }
      }
    }
  }
}

@media (max-width : 684px) {
  .hero-frame {
    width: 100%;
    height: 100%;
    min-height: 600px;
    background: var(--clr-black);
    color: var(--clr-white);
    display: flex;
    align-items: flex-end;
  
  
    .hero {
      margin-inline: auto;
      margin-bottom: 5%;
      padding-inline: 5%;
      max-width: 544px;
      height: 100%;
      background: var(--clr-black);
      color: var(--clr-white);
  
  
  
      .hero-heading {
        width: 90%;
        margin-bottom: 60px;
  
        h1 {
          color: var(--clr-white-1);
          font-size: var(--fs-ml);
          line-height: 120%;

          .break{
            display: none;
          }
  
          .h1-thin {
            font-weight: var(--fw-100);
          }
        }
      }
  
      .hero-desc {
        width: 100%;
        margin-bottom: 30px;
        
        p {
          background: var(--clr-black);
          color: var(--clr-white-3);
          margin-bottom: 30px;
        }
      }
  
      .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
  
        .wwd-btn {
          width: max-content;
          padding: var(--size-1) var(--size-1);
          padding-left: calc(var(--size-3) + 0rem);
          background: var(--clr-action);
          border-radius: 5rem;
          text-align: center;
          margin-bottom: 15px;
  
          .action-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: var(--size-3);
            transition: all 0.3s ease-in-out;
  
            svg {
              background: var(--clr-black);
              width: 36px;
              height: 36px;
              padding: 7.5px;
              border-radius: 50%;
              transition: all 0.3s ease-in-out;
            }
          }:hover{
            transform: scale(1.02);
            position: relative;
            transition: all 0.3s ease-in-out;
  
            svg{
              transform: scale(1.2);
              transition: all 0.3s ease-in-out;
            }
          }
        }
  
        .works-btn {
          width: max-content;
          padding: var(--size-1) var(--size-2);
          background: transparent;
          border-radius: 5rem;
          text-align: center;
          margin-right: 30px;
  
          .action-btn {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            color: var(--clr-white);
            gap: var(--size-2);
            transition: all 0.3s ease-in-out;
  
            svg {
              background: var(--clr-white-4);
              width: 36px;
              height: 36px;
              padding: 7.5px;
              border-radius: 50%;
              transition: all 0.3s ease-in-out;
            }
          }:hover{
            position: relative;
  
            svg{
              transform: scale(1.2);
              transition: all 0.3s ease-in-out;
            }
          }
        }
      }
    }
  }
}

@media (max-width : 300px) {
  .hero-frame{
    display: none;
  }
}