.menu-frame {
  width: 100%;
  /* height: 100vh; */
  padding: var(--size-7);
  background-color: var(--clr-black);
  mix-blend-mode: difference;

  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
}

.container {
  width: 100%;
  height: 100%;
  background: var(--clr-black);
}
